html
  head
    title!= title
    link(href=stylesheet.main, rel="stylesheet")
  body
    section
      article
        p!=message
        p
          nav
            a(href=base.url) Home link
            a(href=base.url + '/example/lorem') lorem link
            a(href=base.url + '/example/ipsum') ipsum link
            a(href=base.url + '/example/assarim') assarim link
      div(id="app")
    script(src=script.likeCounter, type="text/javascript")

